[submodule "examples"]
	path = examples
	url = https://github.com/CrestFallenTurtle/go-evil-examples
[submodule "domains"]
	path = domains
	url = https://github.com/CrestFallenTurtle/go-evil-standard-lib
